@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .bg{
    background-color: black;
  }

  /* Header Navigation Bar */

  .header-logo{
    font-family: inter;
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
  }

  .nav-list{
    list-style: none;
    display: flex;
    gap: 47px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    width: 465px;
    height: 46px;
    
  }
  .nav-list-dec{
    box-sizing: border-box;
    
  }

  .home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    width: 92px;
    height: 38px;
    border: none;
    font-family: Inter;
    font-size: 1.125rem;
    color: white;
  }

  .nav-text{
    font-family: inter;
    font-size: 1.125rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
  }

  .nav-mob{
    display: none;
  }

  /* After Navigation bar properties */

  .headline{
    font-family: inter;
    font-size: 4.875rem;
    font-weight: 900;
    max-width: 480px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
  }

  .shape{
    font-family: "Grey Qo", cursive;
    font-size: 4.875rem;
    font-weight: 900;
  }

  .description{
    font-family: inter;
    font-size: 1rem;
    font-weight: 400;
     color: rgba(255, 255, 255, 0.5);
    max-width: 480px;
    margin: 0 auto;
  }

  .btn-1{
    border-radius: 42px;
    background-color: #E6533C;
    width: 224px;
    height: 54px;
    border: none;
    font-family: inter;
    font-size: 1.125rem;
    font-weight: 600;
    color: #FFFFFF;
  }

  .btn-2{
    border-radius: 42px;
    background-color:black ;
    width: 224px;
    height: 54px;
    border: 1px solid rgb(255, 255, 255);
    font-family: inter;
    font-size: 1.125rem;
    font-weight: 600;
    color: #FFFFFF;
  }

  .btn-mob{
    display: none;
  }

  .headlines{
    display: flex;
    flex-direction: column;
    max-width: 520px;
    margin: 0 auto;
    gap: 28px;
  }

  /* After navigation bar Image section */

  .video-workout{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    height: 98px;
    width: 193px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 260px;
    margin-left: 1107px;

  }
  .video-workout2{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    height: 96px;
    width: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .five{
    font-family: inter;
    font-size: 2.5rem;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 5px;
}
    .workout{
    font-family: inter;
font-size: 0.8125rem;
font-weight: 400;
color: rgba(255, 255, 255, 0.65);

}
.container{
    position: relative;
    width: 100%;
    max-width: 349px;
  }
  .container img{
    width: 349px;
    height: 580px;
  }
  .container .video-workout{
    position: absolute;
    top: -22%;
    right: -15%;

  }

  .container .video-workout2{
    position: absolute;
    top: 70%;
    left: -15%;
  }

  .below-nav{
    display: flex;
    gap: 167px;
    margin: 0 auto;
    padding-right: 214px;
    padding-left: 190px;
    margin-top: 100px;
    max-width: 100%;
    margin-bottom: 100px;
  }

  /* Change Your Habit Section */

  .title{
    font-family: inter;
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 14px;
  }
  .title-des{
    font-family: inter;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    max-width: 620px;
    text-align: center; 
  }

  .habit{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .below-habit-imgs{
    border: none;
    border-radius: 100px;
    max-width: 272px;
    max-height: 180px;
  }
  .below-habit-header{
    font-family: inter;
    font-size: 1.125rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 0px;
  }
  .below-habit-para{
    font-family: inter;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    max-width: 230px;
    max-height: 36px;
    text-align: center;
  }
  .habit-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }
  .below-habit{
    display: flex;
    gap: 70px;
    justify-content: space-between;
    justify-items: center;
    max-width: 1044px;
    margin: 0 auto;
    padding-top: 54px;
    padding-bottom: 100px;  
  }

  /* Run an Extra Mile Section */
  .run-title{
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
    width: 400px;
    height: 116px;
    margin-bottom: 14px;

  }

  .run-para{
    font-family: inter;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    width: 400px;
    margin-bottom: 34px;
  }

  .run-btn{
    width: 224px;
    height: 54px;
    background-color: #E6533C;
    border-radius: 42px;
    font-family: inter;
    font-size: 1.125rem;
    font-weight: 400;
    color: #FFFFFF;
    border: none;
  }
  .run-img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
  }

  .run-extra{
    display: flex;
    flex-direction: column;
    max-width: 443px;
    margin: 0 auto;
  }

  .run-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1060px;
    gap: 165px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin: 0 auto;
    padding-left: 54px;
    padding-right: 54px;
    padding: 30px;
    padding-bottom: 30px;
  }


  /* Run an Extra mile section end */

  /* BMI Calculator Section */

  .bmi{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .table-data{
    border-collapse: collapse;
    margin-top: 13px;
    margin-left: 18px;
    margin-right: 70px;
    max-width: 100%;
  }
  
  td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 13px;
  }
  .table-text{
    font-family: inter;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
  
  }
  
  .table-text1{
    font-family: inter;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }
  .calculator{
    display: flex;
    justify-content: space-between;
    gap: 175px;
    padding-left: 189px;
    padding-right: 189px;
    background: rgb(34, 34, 34);
    max-width: 100%;
    margin: 0 auto;
  }
  .age{
    width: 283px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    border: none;
  }
  .activity-factor{
    width: 600px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    border: none;
  }
  
  .bmi-form{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
  }
  .bmi-calculator{
    display: flex;
    flex-direction: column;
  }
  .bmi-calc-section{
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  .calculate{
    height: 54px;
    width: 224px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: #FFFFFF;
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    margin-top: 10px;
    margin-bottom: 52px;
  }
  .calc-chart{
    font-family: inter;
    font-size: 1.75rem;
    font-weight: 900;
    color: #FFFFFF;
  }
  .bmi-para{
    font-family: inter;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    max-width: 640px;
  }
  /* Team Section */

  .team{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 58px;
  }
  .name{
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    color: #FFFFFF;
    position: absolute;
    top: 55%;
    padding: 20px;
  }
  .title-team{
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 68%;
    padding: 20px;
  }
  
  .trainer-container img{
    width: 327px;
    height: 272px;
    border-radius: 18px;
  
  }
  .trainer-container{
    position: relative;
    
  }
  
  .image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    max-width: 1060px;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-bottom: 64px;
  }

  /* Footer Section */

  .footer-header{
    font-family: inter;
    font-size: 4.375rem;
    font-weight: 800;
    color: #E6533C;
    margin-bottom: 20px;
  }
  
  .footer-text{
    font-family: inter;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    width: 420px;
  }
  
  .get-started{
    font-family: inter;
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
  }
  
  .list-item-footer{
    list-style: none;
    text-align: left;
    
  }
  .list-text{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: inter;
    font-size: 1.4375rem;
    font-weight: 400;
    line-height: 120%;
  }
  ul li{
    margin-bottom: 20px;
  }
  
  .footer-ul{
    display: flex;
    gap: 152px;
  }
  .ul2{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .footer-section{
    display: flex;
    gap: 102px;
    margin-left: 190px;
    margin-right: 190px;
    justify-items: flex-start;
    margin-bottom: 80px;
  }
  
  .copy-right{
    font-family: inter;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    max-width: 318px;
    margin: 0 auto;
    margin-top: 36px;
  }
  .footer-bg{
    background: rgba(255, 255, 255, 0.1);
    max-width: 100%;
    padding-bottom: 40px;
  }

  @media screen and (max-width:576px) {

    .nav-mob{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 353px;
        margin-left: 20px;
    }
    .nav-bar{
        display: none;

    }
    .dropdown a{
        display: block;
        text-decoration: none;
        font-family: inter;
        font-size: 1.125rem;
        font-weight: 400;
        color: rgb(255, 255, 255);
        padding: 10px 15px;
      }
    
      .dropdown .dropdown-content{
        position: absolute;
        display: none;
      }
    
      .dropdown:hover .dropdown-content{
        display: block;
      }

      .headlines{
        max-width: 600px;
        margin: 0 auto;
      }
    .btn{
        display: none;
    }


    .btn-mob{
        display: flex;
        gap: 14px;
    }

    .headlines{
        max-width: 353px;
        margin: 0 auto;
    }
    .headline{
        font-family: inter;
        font-size: 2.25rem;
        font-weight: 900;
        max-width: 285px;
        margin: 0 auto;
        color: rgb(255, 255, 255);
      }

    .below-nav{
        flex-direction: column;
        max-width: 353px;
        margin: 0 auto;
        gap: 48px;
        padding-left: 20px;
    }
    .container .video-workout{
        position: absolute;
        top: -35%;
        right: -35%;
    
      }
    
      .container .video-workout2{
        position: absolute;
        top: 50%;
        left: 0%;
      }
      .video-workout{
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        height: 75px;
        width: 146px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 260px;
        margin-left: 1107px;
    
      }
    .video-workout2{
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        height: 73px;
        width: 156px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    .five{
        font-family: inter;
        font-size: 1.89rem;
        font-weight: 900;
        color: #FFFFFF;
        margin-bottom: 5px;
    }
    .workout{
        font-family: inter;
        font-size: 0.614375rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.65);
    
    }

    .below-habit{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 36px;
    }

    .title{
        font-family: inter;
        font-size: 2rem;
        font-weight: 900;
        color: #FFFFFF;
        margin-bottom: 14px;
      }
      .title-des{
        font-family: inter;
        font-size: 0.875rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        max-width: 300px;
        text-align: center; 
      }

      .habit-up{
        max-width: 338px;
      }

      .run-main{
        flex-direction: column;
        max-width: 338px;
        margin: 0 auto;
        margin-left: 20px;
        gap: 31px;
        align-items: center;
        margin-bottom: 66px;
      }
      .run-para{
        max-width: 280px;
      }
      .run-extra{
        max-width: 280px;
        margin: 0 auto;
      }
      .run-img{
        width: 287px;
        height: 170px;
        border-radius: 18px;
      }

      .calculator{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 63px;
        gap: 57px;
      }
      .age{
        width: 171px;
        height: 48px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        padding-left: 20px;
        color: rgba(255, 255, 255, 0.6);
        font-family: Inter;
        font-size: 1rem;
        font-weight: 400;
        border: none;
      }
      .activity-factor{
        width: 353px;
        height: 48px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        padding-left: 20px;
        color: rgba(255, 255, 255, 0.6);
        font-family: Inter;
        font-size: 1rem;
        font-weight: 400;
        border: none;
      }

      .image-container{
        grid-template-columns: repeat(1, 1fr);
        max-width: 353px;
        margin: 0 auto;
        gap: 20px;
        margin-bottom: 66px;


      }

      .trainer{
        width: 313px;
        height: 272px;
      }
      .copy-right{
        font-size: 1.25rem;
        width: 318px;
        margin-left: 18px;
      }

      .footer-text{
        max-width: 317px;
        margin: 0 auto;
      }
    
      .footer-section{
        flex-direction: column;
        margin-left: 20px;
        gap: 0px;
      }
    
      .get-get{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      .footer-ul{
        flex-direction: column;
        gap: 0px;
      }
  }